@font-face {
    font-family: Dosis;
    src: url(Dosis.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Dosis;
    color: #293241;
}

#main-container {
    display: flex;
}

#main-page {
    width: 80vw;
    height: calc(100vh - 3em);
    padding: 1.5em;
    padding: 1.5em 3em 1.5em 3em;
}

#left-nav-bar {
    width: 20vw;
    height: calc(100vh - 3em);
    background-color: #ffa83f;
    padding: 1.5em;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#brand {
    font-size: 1.7em;
    font-weight: 600;
}

#logo {
    margin-right: 1em;
}

#search-book {
    background-color: #fec98b;
    color: white;
    border-radius: 0 0.5em 0.5em 0;
    width: calc(20vw - 3em);
    padding: 1em;
    border: none;
}

#search-book::placeholder {
    color: #fdead5;
}

#search-container {
    display: flex;
    margin-top: 2em;
}

#search-logo {
    background-color: #fec98b;
    color: white;
    border-radius: 0.5em 0 0 0.5em;
    padding: 1em;
    font-size: 0.8em;
    height: min-content;
}

#version {
    position: absolute;
    bottom: 1em;
    color:white;
}

#navigation-container {
    list-style-type: none;
    padding-left: 0.5em;
    margin-top: 2em;
}

#navigation-container li {
    color:white;
    font-size: 1em;
    padding: 1em;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 2em 0 0 2em;
    margin-right: -1.5em;
}

#navigation-container li:hover {
    background-color: #fec98b;
}

.under-list li {
    list-style-type: none;
    border-left: 1px solid #fffffe80;
    font-size: 0.8em !important;
    border-radius: 0px !important;
    margin-right: -1.9em !important;
}

.active-nav {
    background-color: white;
    border-radius: 2em 0 0 2em;
    color: #293241 !important;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 700;
}

.active-nav svg {
    fill: #293241 !important;
}

#navigation-container li img {
    font-size: 1em;
    width: 1em;
    margin-right: 1em;
    margin-bottom: -3px;
    color: white;
}

#navigation-container li svg {
    font-size: 1em;
    width: 1em;
    height: 1em;
    margin-right: 1em;
    margin-bottom: -3px;
    fill: white;
}

#quotation-of-the-day {
    font-size: 1.5em;
    margin: 0;
}

#quotation-of-the-day::after {
    content: '';
    width: 3em;
    height: 0.1em;
    background-color: #ffefdc;
    display: flex;
    position: absolute;
    margin-top: 7px;
}

.quotation-container {
    font-size: 1.2em;
    margin-top: 2em;
    display: flex;
}

.quotation {
    width: 70%;
    text-align: justify;
}

.quotation-piece {
    text-align: right;
    width: 30%;
    margin-top: -1.2em;
}

.quotation-piece .author {
    font-size: 1.2em;
    font-weight: 800;
    margin-bottom: 0.1em;
}

.quotation-piece .book-name {
    font-size: 0.9em;
}
.quotation-piece .parution {
    font-size: 0.9em;
}

.quotation-piece .go-to-book {
    font-size: 0.9em;
    margin-top: 1.5em;
    cursor: pointer;
}

.quotation-piece .go-to-book::after {
    content: '';
    width: 3em;
    height: 0.15em;
    background-color: #ffa83f;
    display: flex;
    position: absolute;
    right: 2.7em;
    margin-top: 7px;
}