@font-face {
    font-family: Dosis;
    src: url(Dosis.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Dosis;
    color: #293241;
}

#main-container {
    display: flex;
}

#main-page {
    width: 80vw;
    height: calc(100vh - 3em);
    padding: 1.5em;
    padding: 1.5em 3em 1.5em 3em;
}

#left-nav-bar {
    width: 20vw;
    height: calc(100vh - 3em);
    background-color: #ffa83f;
    padding: 1.5em;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#brand {
    font-size: 1.7em;
    font-weight: 600;
}

#logo {
    margin-right: 1em;
}

#search-book {
    background-color: #fec98b;
    color: white;
    border-radius: 0 0.5em 0.5em 0;
    width: calc(20vw - 3em);
    padding: 1em;
    border: none;
}

#search-book::placeholder {
    color: #fdead5;
}

#search-container {
    display: flex;
    margin-top: 2em;
}

#search-logo {
    background-color: #fec98b;
    color: white;
    border-radius: 0.5em 0 0 0.5em;
    padding: 1em;
    font-size: 0.8em;
    height: min-content;
}

#version {
    position: absolute;
    bottom: 1em;
    color:white;
}

#navigation-container {
    list-style-type: none;
    padding-left: 0.5em;
    margin-top: 2em;
}

#navigation-container li {
    color:white;
    font-size: 1em;
    padding: 1em;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 2em 0 0 2em;
    margin-right: -1.5em;
}

#navigation-container li:hover {
    background-color: #fec98b;
}

.under-list li {
    list-style-type: none;
    border-left: 1px solid #fffffe80;
    font-size: 0.8em !important;
    border-radius: 0px !important;
    margin-right: -1.9em !important;
}

.active-nav {
    background-color: white;
    border-radius: 2em 0 0 2em;
    color: #293241 !important;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 700;
}

.active-nav svg {
    fill: #293241 !important;
}

#navigation-container li img {
    font-size: 1em;
    width: 1em;
    margin-right: 1em;
    margin-bottom: -3px;
    color: white;
}

#navigation-container li svg {
    font-size: 1em;
    width: 1em;
    height: 1em;
    margin-right: 1em;
    margin-bottom: -3px;
    fill: white;
}

.main-title {
    font-size: 1.5em;
    margin: 0;
}

.main-title::after {
    content: '';
    width: 3em;
    height: 0.1em;
    background-color: #ffefdc;
    display: flex;
    position: absolute;
    margin-top: 7px;
}

.quotation-container {
    font-size: 1.2em;
    margin-top: 2em;
    display: flex;
}

.quotation {
    width: 70%;
    text-align: justify;
}

.quotation-piece {
    text-align: right;
    width: 30%;
    margin-top: -1.2em;
}

.quotation-piece .author {
    font-size: 1.2em;
    font-weight: 800;
    margin-bottom: 0.1em;
}

.quotation-piece .book-name {
    font-size: 0.9em;
}
.quotation-piece .parution {
    font-size: 0.9em;
}

.quotation-piece .go-to-book {
    font-size: 0.9em;
    margin-top: 1.5em;
    cursor: pointer;
}

.quotation-piece .go-to-book::after {
    content: '';
    width: 3em;
    height: 0.15em;
    background-color: #ffa83f;
    display: flex;
    position: absolute;
    right: 2.7em;
    margin-top: 7px;
}

.like-section {
    margin-top: 0.5em;
    font-size: 0.8em;
    text-align: right;
}

.like-section svg {
    cursor: pointer;
    margin-bottom: -3px;
    margin-right: 6px;
}

.new-content {
    margin-top: 1.5em;
}

#carroussel-books {
    display: flex;
    margin-top: 3em;
}

.book-couv {
    box-shadow: 0px 1px 15px rgba(50, 50, 93, 0.25), 0 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
}

.book-couv:hover {
    transform: translateY(-5px);
}

.book-couv img{
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 260px;
    border-radius: 0.5em 0.5em 0 0;
}

.height-book {
    height: 40px;
    width: 200px;
    background-color: #fcd9b0;
    border-radius: 0.5em;
    margin-top: -20px;
}

.height-couv {
    height: 2px;
    position: absolute;
    background-color: #293241;
    width: 170px;
    margin-top: -5px;
}

.book-mark {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    z-index: 2;
    margin-top: -5px;
    transform: translate(165px, 0px);
    transition: 0.2s;
    cursor: pointer;
}

.st0{fill:#FFFFFF;}
.st1{fill:#FFFFFF;}

.book-mark:hover .st1{
    fill: #ffa83f;
}

.book-mark:hover .st0{
    fill: #ffa83f;
}

.book-couv:hover .book-mark{
    transform: translate(165px, -5px);
}

.book-name-current {
    margin-top: 1.5em;
    font-weight: bold;
}

.book-author-current {
    margin-top: 0.2em;
}

.book {
    margin-right: 3em;
}

.next-left {
    width: 80px;
    text-align: center;
    padding-top: 105px;
}

.next-left svg {
    fill: #ffa83f;
    box-shadow: 0px 1px 15px rgba(50, 50, 93, 0.015), 0 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 50px;
    font-size: 50px;
    height: 50px;
    cursor: pointer;
}